{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Shortdescription</th>
                <td>{{ product.shortDescription }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Weight unit</th>
                <td>{{ product.getQuantityUnit.getName }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ product.getColor.getName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {{ form_start(delete_form) }}
            <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
            <input class="btn btn-danger" type="submit" value="Delete">
            <a class="btn btn-default" href="{{ path('product_index') }}">Back to the list</a>
            {{ form_end(delete_form) }}
        </li>
        <li>
        </li>
    </ul>
{% endblock %}
